@page
@model ProjectRagnarock.Pages.AdminLoginModel
@{
}
<h1>Admin Login</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label for="Username">Username:</label>
        <input asp-for="admin.Username" type="text" id="Username" name="Username" />
        <span asp-validation-for="admin.Username" class="text-danger"></span>
    </div>
    <div>
        <label for="Password">Password:</label>
        <input asp-for="admin.Password" type="Password" id="Password" name="Password" />
        <span asp-validation-for="admin.Password" class="text-danger"></span>
    </div>
    <text> </text>
    
    <button type="submit">Login</button>
</form>