@page
@using ProjectRagnarock.Models
@model ProjectRagnarock.Pages.MuseTales.ExpoListModel
@{
    ViewData["Title"] = "Liste over alle udstillinger";
}
@if(HttpContext.Session.GetString("User")!=null)
{
    @HttpContext.Session.GetString("User")

}

<header>
    <h1 align="center">@ViewData["Title"]</h1>
</header>
<div align="center">
    @foreach(var item in Model.AllExpos)
    {
        <div class="card" style="width: 18rem;">
            <a href="/MuseTales/MediaPLayer?id=@item.Id"><img class="img-fluid" src="~/Images/@item.PicturePath"/></a>
            <div class="card-body">
                <h5 outline-style="auto" class="mt-0">@item.Name</h5>
            </div>
        </div>
        <br />
    }
</div>

<table>
    <td><a href="/MuseTales/AdminDash" class="btn btn-primary btn-lg btn-block">Admin kontrolpanel</a></td>
</table>