@page
@using ProjectRagnarock.Models
@model ProjectRagnarock.Pages.MuseTales.ExpoListModel
@{
    ViewData["Title"] = "Liste over alle udstillinger";
}
<header>
    <h1 align="center">Test for satan da Bobby</h1>
</header>
<div align="center">
    @foreach(var item in Model.AllExpos)
    {
        <!-- Display button with Name as label -->
        <a href="/MuseTales/MediaPLayer?id=@item.Id" class="btn btn-primary">@item.Name</a>
        
    }
</div>


