@page
@using ProjectRagnarock.Models
@model ProjectRagnarock.Pages.MuseTales.ExpoListModel
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Liste over alle udstillinger";
}
<header>
    <h1 align="center" style="font-family: 'Times New Roman'">@ViewData["Title"]</h1>
    
</header>
<div class="flex">


<div align="center">
   
    @foreach(var item in Model.AllExpos)
    {
            <div class="card" style="width: 18rem;">
            <a href="/MuseTales/MediaPLayer?id=@item.Id"><img class="img-fluid" src="~/Images/@item.PicturePath"/></a>
            <div class="card-body">
                <h5 outline-style="auto" class="mt-0">@item.Name</h5>
            </div>
        </div>
        <br />
    }
</div>

<div style="position: relative;">
    <a href="/MuseTales/AdminDash" class="btn btn-primary btn-lg btn-block" style="display: inline-block;">Admin kontrolpanel</a>
    <form method="post" style="display: inline-block; position: absolute; bottom: 0; right: 0;">
        <input type="hidden" name="qrcode" asp-for="@Model.QRCodeImage" />
            <a href="https://museumragnarock.dk/">
        <img src="~/Images/adobe-express-qr-code.png" style="width: 50px; height: 50px;"/>
            </a>
    </form>
</div>




