@page
@using ProjectRagnarock.Models
@model ProjectRagnarock.Pages.MuseTales.MediaPlayerModel
@{
    ViewData["Title"] = "Media player";
}


<header>
    <h1 align="center"></h1>
</header>
<div align="center">
 
</div>
@foreach (var item in Model.AllExpos)
{
    if (item.Id == Model.ExpoId)
    {
        <header>
            <h1 align="center">@item.Name</h1>
        </header>
        <div align="center">
            <img src="~/Images/@item.PicturePath" class="img-fluid" alt="@item.Name" width="250" height="250">
            <form method="post">
            <button>Play</button>
            </form>
        </div>
        <footer align="center">
            <div margin="50% 0 0 0" position="relative" class="wrapper">
                <div class="scroll-text">
                 <h2 align=center >@item.Name</h2>
                 <p>@item.Description</p>
                </div>
            </div>
        </footer>
    }

}



